body {
  margin: 0 auto;
}

.container {
  display: flex;
  overflow: hidden;
}

.containerDash {
  display: flex;
  width: 70%;
  height: 70vh;
  overflow: hidden;
}

.dash {
  width: 100%;
  height: 109.5%;
}

.containerSite {
  width: 30%;
  overflow: hidden;
  /* background-color: red; */
}

.cardSite {
  margin-top: 3%;
  width: 98%;
  height: 96%;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 3px 3px 10px  rgba(0, 0, 0, 0.3);
}

.site {
  margin-top: -140px;
  width: 100%;
  height: 150%;
  zoom: 0.65;
}

.bannerMaior {
  display: flex;
  justify-content: center;
}

.bannerMaior img {
  width: 100%;
}

.bannerMenor {
  /* border: 1px solid red; */
  display: flex;
  /* justify-content: center; */
}

.bannerMenor img {
  width: 70%;
}

.youtube {
  width: 29.5%;
  height: 29.2vh;
  border-radius: 15px;
}
